.container {
  width: 40rem;
  display: flex;
  border: 2px solid #004777;
  border-radius: 40px;
  margin-left: 25%;
  padding-left: 5rem;
  margin-top: 3rem;
  background-color: rgba(68, 175, 105, 0.6);
  box-shadow: 10px 10px 30px 7px #004777;
}
.containerMob {
  display: none;
}

.titleContainer {
  position: absolute;
  margin-top: 0;
  display: block;
}
.dataContainer {
  margin-top: 7rem;
  margin-bottom: 1rem;
}

.imgContainer {
  margin-top: 10rem;
  margin-right: 3rem;
}

.name {
  display: block;
  color: rgb(254, 202, 27);
  text-shadow: 2px 2px 2px #004777;
  font-family: monospace;
  font-size: 4rem;
  margin: 0.5rem;
}
.abName {
  display: inline;
  font-family: monospace;
  font-size: 1.6rem;
}
.infoContainer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.image {
  width: 400px;
}

.button {
  padding: 15px;
  border-radius: 8px;
  background: rgb(239, 83, 80);
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgb(254, 202, 27);
  border: 2px solid rgb(254, 202, 27);
  text-shadow: 2px 2px 2px #004777;
}
.button:hover {
  cursor: pointer;
}

@media all and (max-width: 500px) {
  .container {
    display: none;
  }
  .containerMob {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    height: 80%;
    border: 2px solid #004777;
    display: block;
    padding: 5px;
    border-radius: 40px;
    background-color: rgba(68, 175, 105, 0.6);
    box-shadow: 10px 10px 30px 7px #004777;  
  }
  .dataMob {
    display:flex;
    flex-wrap: wrap;
  }
  .titleContainerMob {
    display: block;
    width: 100%;
    margin: 5px;
  }
  .nameMob {
    color: rgb(254, 202, 27);
    text-shadow: 2px 2px 2px #004777;
    font-family: monospace;
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }
  .imgContainerMob {
    margin: 0 auto;
    display: block;
    width: 75%;
    height: 75%;
    margin-bottom: 5px;
  }
  .imgMob {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  .dataContainerMob {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .infoContainerMob {
    margin: 9px;
    font-size: 1.5rem;
    font-family: monospace;
    color: #004777;
  }
  .abNameMob {
    display: inline;
  }
  .buttonMob {
    padding: 15px;
    border-radius: 8px;
    background: rgb(239, 83, 80);
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(254, 202, 27);
    border: 2px solid rgb(254, 202, 27);
    text-shadow: 2px 2px 2px #004777;
  }
}