.filterCont {
  height: 3rem;
  background-color: rgb(254, 202, 27);
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.opContMob {
  display: none;
}

.title {
  display: inline;
  margin-left: 2rem;
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgb(239, 83, 80);
  text-shadow: 2px 2px 2px #004777;
}

.name {
  display: inline;
  margin-left: 2rem;
  border: 3px solid #004777;
  border-radius: 8px;
  background: rgb(239, 83, 80);
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgb(254, 202, 27);
  text-shadow: 2px 2px 2px #004777;
}

.name:hover,
.name:focus {
  background: rgba(239, 83, 80, 0.7);
}

.opCont {
  background: #00477752;
  box-shadow: opx 8px 16px 0px #004777;
  z-index: 1;
}



.filterBy {
  display: flex;
  justify-content: space-around;
  font-family: monospace;
  font-size: 1.8rem;
  font-weight: bolder;
  color: #004777;
  background-color: #00477741;
}

.filterBy h4 {
  display: inline;
}
.filterBy p {
  display: inline;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media all and (max-width: 500px){
  .filterCont {
    font-size: 1rem;
  }
  .title {
    font-size: 1rem;
  }
  .menu {
    width: fit-content;
  }
  .name {
    margin-left: 0;
    font-size: 1rem;
    width: 8rem;
  }
  .opCont {
    display: none;
  }
  .opContMob{
    display: block;
    background: #00477752;
    box-shadow: opx 8px 16px 0px #004777;
    z-index: 1;
    width: fit-content;
  }
  .filterBy {
    font-size: 1rem;
  }
}