.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-top: 5rem;
  height: 5rem;
  width: 25rem;
  border-radius: 8px;
  background: rgb(239, 83, 80);
  font-family: monospace;
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(254, 202, 27);
  border: 2px solid #004777;
  text-shadow: 2px 2px 2px #004777;
}

.button:hover {
  cursor: pointer;
}
.container img {
  max-height: 40%;
  max-width: 40%;
  width: auto;
  height: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 6rem;
}

@media all and (max-width: 500px) {
  .img {
    max-width: 100% !important; 
    max-height: 100% !important;
    width: auto;
    height: auto;
  }
}